$primary-font: 'IBM Plex Sans';
$secundary-font: 'IBM Plex Mono';
$icono-font: "webfonts";
$color-text: rgba(6,10,36,1);
$primary-gradiente: #0000FF;
$secundary-gradient: #0000A3;
$button-color: #00F3BB;
